body{
  background: black;
  margin: auto;
}

header{
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  width: 100%;
  height: 150px;
  position: absolute;
  display: block;
  /* border: 1px solid red; */
  height: 300px;
  justify-self: center;
}

#logo {
  width: 100%;
  margin: 70px auto;
  color: white;
  font-size: 150px;
  text-align: center;
  font-family: 'Audiowide', cursive;
}

h1{
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  text-shadow: 5px -3px 4px black;
  margin-top: -30px;
}

form{
  display: block;
  /* justify-content: center;
  justify-items: center;
  justify-self: center;
  border: 1px solid yellow;*/
    /* grid-column-start: 2;
  grid-column-end: 4; */
  width: 100%;
  margin: 30px auto;
}
input{
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 80px;
  text-align: center;
  font-size: 20px;
  border: 1px solid white;
  color: white;
  background: rgba(0, 0, 0, 0.4);
}

::placeholder {
  color: #FFBA3B;
  font-size: 20px;
}

button {
  height: 65px;
  width: 15%;
  border: 1px solid white;
  color: white;
  font-size: 20px;
  /* font-weight: bold; */
  background: rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  margin-left: 42.5%;
  cursor: pointer;
}

#gif-display{
  background: black;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  object-fit: cover;
  justify-content: center;
  margin-top: -180px;
}

.gif-images{
  width: 10%;
  object-fit: cover; 
  /* border: 1px solid red; */
  background: solid black;
}

.imgContainer{
  background: #000000;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  margin-top: 80px;
  /* border: 1px solid yellow; */
}
.imgContainer a{
  width:400px;
  height: 460px;
  /* border: 1px solid purple; */
  display: block;
text-align: center;
/* text-decoratio   n; */

}

.space-img{
  /* border: 1px solid blue; */
  width: 90%;
  height: 400px;
  object-fit: cover;
  margin: 10px 5px;
  border-radius: 10px;
}

h3{
  position: relative;
  top: -15px;
  color: white;
  font-size: 15px;
  text-align: center;
  word-wrap: break-word;
  font-family: 'Muli', sans-serif;
}

.hero{
  padding-top: -15px;
  /* border: 1px solid yellow; */
}

.profilePic{
  width: 400px;
}

.home{
  color: white;
  font-size: 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  /* border-bottom: 0.5px solid white; */
  position: relative;
  top: -75px;
  padding-top: 20px;
  height: 80px;
  cursor: pointer;
}

#single-image{
  /* border: 1px solid red; */
  width: 100%;
  height: 600px;
  margin-top: -30px;
}

.profilePic{
  /* border: 1px solid yellow; */
  width: 40%;
  margin-left: 10%;
}

h2{
  color: white;
  width: 400px;
  font-size: 25px;
  /* border: 1px solid white; */
  text-align: center;
  margin-top: -35px;
  padding-top: 15px;
}

.text-area{
  /* border: 1px solid blue; */
  width: 500px;
  left: 700px;
  text-align: center;
  position: absolute;
  top: 920px;
  left: 55%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

p{
  color: white;
  line-height: 29px;
  font-size: 20px;
}